<footer>
  <div>
    <h3>For More</h3>
    <a href="https://scottsqualityimprovements.store/aboutUs" target="_blank">About Us</a>
    <a href="https://scottsqualityimprovements.store/contactUs" target="_blank">Contact Us</a>
  </div>
  <div>
    <h3>Customer Support</h3>
    <a href="https://scottsqualityimprovements.store/privacyPolicy" target="_blank">Privacy Policy</a>
    <a href="https://scottsqualityimprovements.store/termsConditions" target="_blank">Terms & Conditions</a>
    <a href="https://scottsqualityimprovements.store/returnPolicy" target="_blank">Return Policy</a>
    <a href="https://scottsqualityimprovements.store/paymentMethods" target="_blank">Payment Methods</a>
    <a href="https://scottsqualityimprovements.store/shippingPolicy" target="_blank">Shipping Policy</a>
  </div>
  <p>Copyright &copy; 2025 Scotts Quality</p>
</footer>
