<header class="site-header">
  <div class="container header-flex">
    <div class="logo">
      <a href="{{ site.baseurl }}/">
        <img src="https://image.wed2c.com/2025/05/23/21/d14f861c-add6-460d-bf31-1a415205a088.jpg" alt="Scotts Quality Logo">
      </a>
    </div>
    <nav class="site-nav">
      <ul>
        <a href="{{ site.baseurl }}/">Home</a>
       <a href="{{ site.baseurl }}/categories.html">Categories</a>
       <a href="{{ site.baseurl }}/blog">Blog</a>
       <a href="https://scottsqualityimprovements.store/" target="_blank">Shop</a>
      </ul>
    </nav>
  </div>
</header>
