<header>
  <div class="logo">
    <a href="{{ site.baseurl }}/">
      <img src="https://image.wed2c.com/2025/05/23/21/d14f861c-add6-460d-bf31-1a415205a088.jpg" 
           alt="Scotts Quality Logo" 
           title="Scotts Quality" 
           style="height:40px;">
    </a>
  </div>
  <nav>
    <ul>
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.baseurl }}/categories.html">Categories</a></li>
      <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
      <li><a href="https://scottsqualityimprovements.store" target="_blank">Shop</a></li>
    </ul>
  </nav>
</header>
