<aside class="sidebar">
  <div class="widget">
    <h3>Latest Posts</h3>
    <ul>
      {% for post in site.posts limit:7 %}
        <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <!-- Example Ad Widget -->
  <div class="widget ad-widget">
    <h3>Sponsored</h3>
<script type="text/javascript">
	atOptions = {
		'key' : '044bc772853d55aea89e8274f61c1a5c',
		'format' : 'iframe',
		'height' : 250,
		'width' : 250,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//www.highperformanceformat.com/044bc772853d55aea89e8274f61c1a5c/invoke.js"></script>  </div>
</aside>
